@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@300&display=swap');

body {
    background-color: #fff;
    color: #fff;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

li,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(47, 158, 255);
}

header {
    transition: all 1.6s ease 0s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header:hover {
    background-color: rgb(192, 192, 192);
}


.logo {
    cursor: pointer;
    margin: 0px;
    filter: invert(51%) sepia(24%) saturate(2709%) hue-rotate(185deg) brightness(101%) contrast(107%);
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all .3s ease 0s;
}

.links li a {
    color: rgb(47, 158, 255);
    border-radius: 20px;
    padding: 10px;
}

.links li a:hover {
    color: white;
    background: rgb(47, 158, 255);
}

.links li a.active {
    background: rgb(47, 158, 255);
    color: white;
}

.navbar-signin a {
    transition: all .3s ease 0s;
}

.navbar-signin a {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(47, 158, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    text-decoration: none;
}



.navbar-signin a:hover {
    color: rgb(47, 158, 255);
    background: #fff;
}

footer {
    background-color: rgb(47, 158, 255);
    padding: 20px;
}

footer img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    margin-top: 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-main {
    display: flex;
}

.footer-side {
    width: 33.3%;
    flex-direction: row;
    text-align: center;
}

.footer-side h2 {
    text-align: center;
    color: #fff;
}

.footer-links {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 200px;
}

.footer-links ul, .footer-side ul {
    list-style: none;
}

.socials {
    text-align: left;
    padding-left: 200px;

}
.footer-links p {
    color: #777;
    font-size: 14px;
}

.copyright {
    text-align: center;
}